#root {
  /* display: block; */
  height: 100vh;
}
.App {
  display: block;
  position: relative;
  padding: 0 40%;
  background-color: honeydew;
  height: 100%;
}
#main-block {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cash-sign {
  font-size: 60px important;
}
.btn-block {
  
}
.btn-x {
  padding: 10px;
  margin-right: 10px;;
  background-color: lightgreen;
  border-radius: 2px;
  
}
